<template name="home">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="page-header">
          <h1>{{_ "home.title"}} <div><small>{{_ "home.subtitle"}}</small></div></h1>
          {{#if currentUser}}
          <a class="btn btn-primary" href="{{pathFor 'allCourses'}}">{{_ "allCourses"}}</a>
          <a class="btn btn-default" href="{{pathFor 'newCourse'}}">{{_ "newCourse"}}</a>
          {{/if}}
        </div>
      </div>
      <div class="col-md-4">
        {{> atForm}}
      </div>
    </div>
  </div>
</template>
