<template name="courseItem">
  <div class="panel panel-default">
    <div class="panel-heading"><a href="{{pathFor 'participants'}}">{{title}}</a></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <strong>{{_ 'participants'}}: </strong>{{participantsCount}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <strong>{{_ 'lastSession'}}:</strong>{{mDate lastSession.date}} {{_ 'withNumberOfParticipants' lastSession.participantsCount}}
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <a class="btn btn-xs btn-default" href="{{pathFor 'editCourse'}}">
        <i class="fa fa-pencil"></i>
        <span class="hidden-xs">{{_ 'edit'}}</span>
      </a>
      <a class="btn btn-xs btn-primary" href="{{pathFor 'newSession'}}">
        <i class="fa fa-bell-o"></i>
        <span class="hidden-xs">{{_ 'newSession'}}</span>
      </a>
    </div>
  </div>
</template>
