<template name="newParticipant">
  <div class="container-fluid">
    <div class="page-header">
      <h1>{{_ "newParticipant"}}</h1>
    </div>

    {{#autoForm collection="Collections.Participants" id="newParticipantForm" type="insert"}}
      {{> afFieldInput name='courseId' type="hidden" value=course._id}}
      {{> afQuickField name='name' placeholder="schemaLabel"}}
      {{> afQuickField name='birthDate' type='text' class="datepicker" placeholder="schemaLabel"}}
      {{> afQuickField name='phone' placeholder="schemaLabel"}}
      {{> afQuickField name='emergencyPhone' placeholder="schemaLabel"}}
      {{> _submit label=submitLabel}}
      {{> _cancel}}
    {{/autoForm}}
  </div>
</template>
