<template name="participants">
  <div class="container">
    {{> coursePageHeader course=course subtitle=subtitle}}
    <div class="row">
      <div class="col-md-12">
        <a class="btn btn-primary" href="{{pathFor 'newParticipant' _id=course._id}}">
          <i class="fa fa-bell-o"></i>
          <span class="hidden-xs">{{_ 'newParticipant'}}</span>
        </a>
        <a class="btn btn-default" href="{{pathFor 'newSession' _id=course._id}}">
          <i class="fa fa-bell-o"></i>
          <span class="hidden-xs">{{_ 'newSession'}}</span>
        </a>
        <a class="btn btn-default" href="{{pathFor 'sessions' _id=course._id}}">
          <i class="fa fa-bell"></i>
          <span class="hidden-xs">{{_ 'sessions'}}</span>
        </a>
      </div>
    </div>
    {{#if $gt participants.count 0}}
    <div class="row">
      <div class="col-md-12">
        <hr/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="list-group">
        {{#each participants}}
          {{> participant}}
        {{/each}}
        </ul>
      </div>
    </div>
    {{/if}}
  </div>
</template>
