<template name="participant">
  <li class="list-group-item clearfix">
    <div class="input-group hidden-xs">
      <span class="form-control">
        <strong>{{name}} ({{_ 'age' age }})</strong> - {{phone}} (urgence: {{emergencyPhone}})
      </span>
      <span class="input-group-btn">
        <a href="{{pathFor 'editParticipant'}}" class="btn btn-default btn-edit">
          <i class="fa fa-pencil"></i>
          <span class="hidden-xs">{{_ 'edit'}}</span>
        </a>
        <a href="#" class="btn btn-danger btn-remove">
          <i class="fa fa-trash"></i>
          <span class="hidden-xs">{{_ 'remove'}}</span>
        </a>
      </span>
    </div>
    <div class="list-group-item-heading visible-xs">
      <span class="pull-right">
        <a href="#" class="btn btn-danger btn-remove">
          <i class="fa fa-trash"></i>
          <span class="hidden-xs">{{_ 'remove'}}</span>
        </a>
      </span>
      <a class="btn btn-block btn-default btn-edit" href="{{pathFor 'editParticipant'}}">
        {{name}}
      </a>
    </div>
    <div class="list-group-item-text visible-xs">
      tél: <a href="tel:{{phone}}">{{phone}}</a>
    </div>
    <div class="list-group-item-text visible-xs">
      urgence: <a href="tel:{{emergencyPhone}}">{{emergencyPhone}}</a>
    </div>
  </li>
</template>
